DEFAULT /menu.c32 PROMPT 0 MENU TITLE FreeGeek Chicago -- Advanced
#TIMEOUT 300

F1 /adv1.hlp


MENU COLOR disabled 1;37;44
MENU MARGIN 0

MENU ROWS -9
MENU TABMSGROW -1
MENU CMDLINEROW -1
MENU HELPMSGROW -3
MENU HELPMSGENDROW -1


LABEL -
        MENU LABEL ..
        KERNEL /menu.c32
        APPEND ~

LABEL -
        MENU LABEL 
        MENU DISABLE


#########################TESTING#################################


LABEL -
        MENU LABEL Advanced Testing Utilities
        MENU DISABLE

#LABEL -
#        MENU LABEL ^Ultimate Boot CD ISO
#        MENU INDENT 4
#       KERNEL memdisk
#       INITRD ubcd/ubcd511.iso
#        KERNEL menu.c32
#       APPEND iso
        APPEND iso initrd=ubcd511.iso raw
#        APPEND ubcd/UBCD_50beta12/ubcd/menus/syslinux/main.cfg
#        TEXT HELP
# More than 100 system utilities.
#ENDTEXT

#LABEL -
#        MENU LABEL Ultimate Boot CD 511
#        MENU INDENT 4
#        KERNEL menu.c32
#        APPEND ubcd/ubcd_511/ubcd/menus/syslinux/main.cfg
#        TEXT HELP
# More than 100 system utilities.
#ENDTEXT
#
# DOS-BASED APPS DON'T BOOT PROPERLY YET.
#ENDTEXT

LABEL memtest86
        MENU LABEL Memtest86  v4.0a
        MENU INDENT 1
        KERNEL /memtest/memtest86_40a
        TEXT HELP
The original memtest86 as a backup to our default memtest86+
ENDTEXT

LABEL memtest86+
        MENU LABEL Memtest86+ v2.10
        MENU INDENT 1
        KERNEL /memtest/memtest86+_210
        TEXT HELP
Memtest86+ v2.10 as a backup to our default memtest86+
ENDTEXT


#Commenting this out... for now
#LABEL autodban
#       MENU LABEL DBAN 2.2.6 Autonuke (!!!!DANGEROUS!!!!)
#       MENU INDENT 1
#       KERNEL dban/dban-2.2.6_i586.bzi
#       APPEND nuke="dwipe --autonuke" silent
#       TEXT HELP
#Run DBAN and automatically "nuke" any attached disk drive.
#ENDTEXT

LABEL -
        MENU LABEL ^Recovery Is Possible -- kernel 2.6.29.6,  rootfs inside initrd   [85mb]
        MENU INDENT 1
        KERNEL RIP_v9.3.kernel32
        APPEND vga=normal nokeymap initrd=RIP_v9.3.rootfs.cgz root=/dev/ram0 rw
        TEXT HELP
 Press F1 for an explanation of why this boots so slowly.
ENDTEXT

LABEL -
        MENU LABEL ^chntpw               -- rootfs inside initrd [4mb]
        MENU INDENT 1
        KERNEL /chntpw.100627.vmlinuz
        #APPEND rw vga=1 initrd=initrd.cgz,scsi.cgz
        APPEND rw vga=1 initrd=/chntpw.100627.initrd.cgz,/chntpw.100627.scsi.cgz
        TEXT HELP
 Reset Windows passwords.
 Edit Windows registry.
ENDTEXT

LABEL -
        MENU LABEL
        MENU DISABLE


#########################OPERATING SYSTEM INSTALL##################################


LABEL -
        MENU LABEL Advanced Install GNU + Linux OS
        MENU DISABLE

LABEL -
        MENU LABEL Install ^XUbuntu v12.04 32-Bit
        MENU INDENT 1
        KERNEL /ubuntu1204x86/linux
        APPEND initrd=/ubuntu1204x86/initrd.gz auto=true priority=critical url=http://192.168.100.21/preseed/xubuntu1204x32.seed locale=en_US
preseed/locale=en_US
keyboard-configuration/layoutcode=us console-setup/layoutcode=en netcfg/get_hostname=install netcfg/get_domain= --

        TEXT HELP
Install XUbuntu v12.04 32-bit w/ Preseed (Automated Install)
ENDTEXT

LABEL -
        MENU LABEL
        MENU DISABLE
LABEL -
        MENU LABEL Install *buntu v12.04 32-Bit
        MENU INDENT 1
        KERNEL /ubuntu1204x86/linux
        APPEND initrd=/ubuntu1204x86/initrd.gz
        TEXT HELP
        Install Ubuntu/Kubuntu/Xubuntu/Lubuntu or Server v12.04 32-bit.
        ENDTEXT



LABEL -
        MENU LABEL Install *buntu v12.04 64-Bit
        MENU INDENT 1
        KERNEL /ubuntu1204x64/linux
        APPEND initrd=/ubuntu1204x64/initrd.gz
        TEXT HELP
        Install Ubuntu/Kubuntu/Xubuntu/Lubuntu or Server v12.04 64-bit.
        ENDTEXT

#Preseed configurations that may or may not be helpful in the future
#url=http://192.168.100.21/preseed/xubuntu1204x32.seed locale=en_US preseed/locale=en_US keyboard-configuration/layoutcode=us
console-setup/layoutcode=en ne$
#auto url=http://192.168.100.21/preseed/xubuntu1204x32.seed
#preseed/url=http://192.168.100.21/preseed/xubuntu1204x32.seed
#file=http://192.168.100.21/preseed/xubuntu1204x32.seed
#url=http://192.168.100.21/preseed/xubuntu1204x32.seed locale=en_US preseed/locale=en_US keyboard-configuration/layoutcode=us console-setup/layoutcode=en ne$
#auto url=http://192.168.100.21/preseed/xubuntu1204x32.seed
#preseed/url=http://192.168.100.21/preseed/xubuntu1204x32.seed
#file=http://192.168.100.21/preseed/xubuntu1204x32.seed

LABEL -
        MENU LABEL
        MENU DISABLE

LABEL -
        MENU LABEL Debian Lenny 32-Bit Installer
        MENU INDENT 1
        KERNEL debianLenny.i386.linux
        APPEND priority=low vga=normal initrd=debianLenny.i386.initrd.gz --
 Install Debian Lenny 32-Bit
ENDTEXT

LABEL -
        MENU LABEL Debian Lenny 64-Bit Installer
        MENU INDENT 1
        KERNEL debianLenny.amd64.linux
        APPEND priority=low vga=normal initrd=debianLenny.amd64.initrd.gz --
 Install Debian Lenny 64-Bit
ENDTEXT

LABEL -
        MENU LABEL Install *buntu v10.04 32-Bit
        MENU INDENT 4
        KERNEL /ubuntu1004x86/linux
        APPEND initrd=/ubuntu1004x86/initrd.gz
        TEXT HELP
        Install Ubuntu/Kubuntu/Xubuntu/Lubuntu or Server v10.04 32-bit.
        ENDTEXT


LABEL -
        MENU LABEL
        MENU DISABLE


#########################


LABEL -
        MENU LABEL Misc Live Linux Distros
        MENU DISABLE

LABEL -
        MENU LABEL ^Slax                 -- kernel 2.6.27,    rootfs via http       [100mb]
        MENU INDENT 4
        KERNEL slax.6.1.2.vmlinuz
        APPEND initrd=slax.6.1.2.initrd.gz from=http://192.168.100.1/ ramdisk_size=6666 root=/dev/ram0  rw autoexec=xconf;startx
        TEXT HELP
 We use this for our video and sound test station.
 It's widely useful for many other things.
ENDTEXT


LABEL -
        MENU LABEL SliTa^z               -- kernel 2.6.25.5,  rootfs inside initrd   [30mb]
        MENU INDENT 4
        KERNEL slitaz-2.0.bzImage
        APPEND initrd=slitaz-2.0.rootfs.gz lang=en kmap=us
        TEXT HELP
 Runs well on old/slow machines, even better than Puppy.
ENDTEXT


LABEL -
        MENU LABEL ^tiny core            -- kernel 2.6.29.1,  rootfs inside initrd   [10mb]
        MENU INDENT 4
        KERNEL tinycore-2.3.bzImage
        APPEND initrd=tinycore-2.3.initrd.gz
        TEXT HELP
 Extremely modular, all programs are downloaded over the internet as-needed.
ENDTEXT

#LABEL -
#       MENU LABEL ^micro core           -- kernel 2.6.29.1,  rootfs inside initrd   [ 6mb]
#       MENU INDENT 4
#       KERNEL microcore-2.3.bzImage
#       APPEND initrd=microcore-2.3.initrd.gz
#       TEXT HELP
# Console only.  Packages are downloaded as-needed:
#       tce-load -w parted.tcel
#ENDTEXT

LABEL -
        MENU LABEL ^tomsrtbt             -- kernel 2.4.20,    rootfs inside initrd   [ 2mb]
        MENU INDENT 4
        KERNEL /memdisk
        APPEND initrd=tomsrtbt-2.0.103.ElTorito.288.img.gz
                # ^^ this is the official release file:
                #               tomsrtbt-2.0.103.ElTorito.288.img.bz2 re
                #    but unbzip2'd and gzipped
        TEXT HELP
 Older but still useful.
 It was designed for rescue/recovery work.  If it can accomplish what you
 want to do, you'll probably be happy with this choice.
ENDTEXT

LABEL -
        MENU LABEL
        MENU DISABLE


#########################


LABEL -
        MENU LABEL Boot
        MENU DISABLE

LABEL -
        MENU LABEL Boot to ^local disk
        MENU INDENT 4
        KERNEL /modules/chain.c32
        APPEND hd0 0
        TEXT HELP
 Boot into the local hard drive, as if you had never booted into PXE.

 (either of these may fail.  This uses the chain.c32 comboot method)
ENDTEXT

LABEL -
        MENU LABEL Boot to local disk  (method #2)
        MENU INDENT 4
        LOCALBOOT 0
        TEXT HELP
 Boot into the local hard drive, as if you had never booted into PXE.

 (either of these may fail.  This uses PXELINUX's built-in 'localboot' command)
ENDTEXT

LABEL -
        MENU LABEL ^Smart BootManager
        MENU INDENT 4
        KERNEL /UBCD_50beta12/boot/syslinux/memdisk
        APPEND initrd=/UBCD_50beta12/ubcd/images/sbm.igz
        TEXT HELP
 Boot to ANYTHING.
ENDTEXT

LABEL -
        MENU LABEL
        MENU DISABLE
